{% extends 'base.html'%}
{% block content %}
{% load static %}

<div class="center container" style="padding-top: 30px">
    <h3 class="grey-text darken-5">Time! Time!! Time!!!</h3>
    <h6><article class="grey-text darken-1">Time, according to the Oxford Dictionary is defined as</article></h6>
</div>
<h3 class="center">Welcome to Plan ~ It </h3>

<h4 class="center" style="color: rgb(169, 169, 169)">Follow the Steps below to get Started</h4>

<div class="container" style="padding-top: 30px">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{% static '/images/planit_login.png' %}">
        </div>
        <div class="grey lighten-3 card-content">
      <span class="card-title activator grey-text text-darken-4">2) Login<i
              class="material-icons right">more_vert</i></span>
            <p><a href="/login">Click here to go to login page</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Login<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 30px">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{% static '/images/planit_add_item.png' %}">
        </div>
        <div class="grey lighten-3 card-content">
      <span class="card-title activator grey-text text-darken-4">3) Plan your time right!<i
              class="material-icons right">more_vert</i></span>
            <p><a href="/login">Click here to go to your page</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Planning<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
</div>

{% endblock content %}
