{% extends 'base.html' %}

{% block content%}

<form action="{% url 'sign_up' %}" method='post' class="form-inline col s12" style="padding-top:30px">

  <h5 class="center">Sign Up Here</h5>
  <div class="container" style="border-style: groove; border-width: 2px">
    <div class="container" style="padding: 20px">
      {% csrf_token %}

      <div class="row">

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input class="validate" id="signup_firstname" name="signup_firstname" type="text" required>
          <label for="signup_firstname">First Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons small prefix ">lock</i>
          <input id="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
        <div class="input-field col s6">
          <input class="validate" id="password" type="password" required>
          <label for="password">Password again</label>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mail</i>
          <input class="validate" id="signup_email" name="signup_email" type="email" required>
          <label for="signup_email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="Phone Number" type="text" required>
          <label for="Phone Number">Phone Number</label>

        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">av_timer</i>
          <input id="timezone" type="text" required>
          <label for="timezone">Timezone</label>
          <input type="radio" name="" id="">
        </div>
        
      </div>



      <button class="btn waves-effect waves-light" type="submit" value="login">Login</button>

      <i id="message">{{ message }}</i>
    </div>
  </div>
</form>
{% endblock %}