{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Plan ~ it | Ultimate Task Scheduler</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, intial-scale=1" />
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static '/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <nav class="blue">
    <div class="container ">
      <a href="/" class="brand-logo left">Plan ~ It</a>
      <ul id="nav-mobile" class="right">
        <li><a class="waves-effect right" href="/login">Login</a></li>
        <li><a class="right" href="/signup">Sign Up</a></li>
      </ul>
    </div>
  </nav>


  <div style="text-align:center; background-color:rgb(255, 99, 71); color: rgb(255, 255, 255)"><i>The Ultimate Task Scheduler</i></div>

  {% block content %} {% endblock content %}
  <p class="center" style="padding-top:20px">© Agbo Victor - 2021</p>
</body>