{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Plan ~ it | Ultimate Task Scheduler</title>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="{% static '/images/favicon.ico' %}" rel="shortcut icon" type="image/ico"/>
  <link href="https://googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static '/css/materialize.min.css' %}" rel="stylesheet">
  <!--<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
  -->
  <script src="{% static '/js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/js/controller.js' %}" type="text/javascript"></script>
  <script src="{% static '/js/materialize.min.js' %}" type="text/javascript"></script>

  <!--<script async data-ad-client="ca-pub-1030992664079729"
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
 -->
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

</head>
<script src="{% static '/js/materialize_1.0.0.min.js' %}" type="text/javascript"></script>

<body>
<main>
  <div class="navbar-fixed">
    <nav class="indigo darken-4">
      <div class="container ">
        <a class="brand-logo left" href="/">Plan ~ It</a>
        <ul class="right" id="nav-mobile">
          <!-- Dropdown Trigger -->
          <li class='dropdown-trigger btn indigo darken-4 right z-depth-0' data-target='dropdown1'>
            <i class="small material-icons">
              menu
            </i>
          </li>
        </ul>
        <ul class='dropdown-content' id='dropdown1'>
          <li><a class="indigo-text darken-4 waves-effect waves-light" href="/login">Login</a></li>
          <li><a class="indigo-text darken-4 waves-effect waves-light" href="/signup">Sign Up</a></li>

        </ul>
        <script>
        $('.dropdown-trigger').dropdown();
        </script>
      </div>
    </nav>
  </div>
  <div class="orange darken-3 white-text" style="text-align:center; "><i>The Ultimate
    Task Scheduler</i></div>
  <ul class="sidenav" id="slide-out">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="images/office.jpg">
        </div>
        <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
  <a class="sidenav-trigger" data-target="slide-out" href="#"><i class="material-icons">menu</i></a>
<script>
  $(document).ready(function(){
   $('.sidenav').sidenav();
  });
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
  $(document).ready(function(){
    $('.timepicker').timepicker();
  });
  </script>
  {% block content %} {% endblock content %}
  <p class="center" style="padding-top:20px">© Agbo Victor - 2021</p>
</main>
</body>