{% extends 'base.html' %}

{% block content %}

<form action="add_planit/" method="POST" class="form-inline">
  <div class="container">
    <div class="input-field col s12">
      <input class="form-control" id="add_input"
             style="border-color: rgb(0, 37, 204); border-radius: 5px; border-style:groove; border-width: 1px;"
             name="content" type="text">
      <label for="add_input">Add Item</label>
      <button style="background-color: rgb(0, 37, 204)" class="btn waves-effect waves-light" type="submit">ADD</button>
    </div>
  </div>
</form>

<div class="container">
  <div class="row">
    <div class="col s12">
    </div>
  </div>

  <table class="striped">
    <tbody>
    {% for planit_date, planit_item in planit_items %}
    <tr>
      <td>{{planit_item}}</td>
      <form action="delete_planit/" method="POST" class="form-inline">
        <td><input class="form-control" name="time" style="width:0px" type="text" value="{{planit_date}}">
        </td>
        <td class="right">
          <button style="background-color: rgb(240, 0, 0);"
                  class="btn-small waves-effect waves-light">Delete
        </td>
      </form>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
aa


{% endblock content %}